// Variables
$primary-color: #f0b05d;
$secondary-color: #3c39db34;
$accent-color: #f5f5f1;
$dark-color: #141414;
$light-color: #ffffff;
$gray-color: #757575;
$border-radius: 8px;
$transition-time: 0.3s;
$box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);

// Breakpoints para responsive design
$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;